/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 2.0
 */

/*FONTS*/

/*DEFAULT CSS*/

* {
	outline: none !important;
	text-decoration: none !important;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
	font-family: Raleway;
	transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto Slab;
}

ol,
ul {
	margin-bottom: 0;
	padding-left: 0;
}

a {
	color: #56276B;
	line-height: 1.5;
}

a:hover {
	color: #8F6AA0;
}

video {
	width: 100%;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.equal-children {
	display: flex;
	flex-wrap: wrap;
}

.transition {
	transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background: transparent;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/*MAIN CSS*/
main {
	padding-bottom: 70px;
}

.bg-image {
	background-repeat: no-repeat;
	background-position: right bottom;
}

.padding-30 {
	padding: 30px 0;
}

/* Header */
header {
	background: #000;
}

.overlay {
	height: 100vh;
}

.navbar-brand {
	height: unset;
	padding: 0;
	left: 5%;
	position: absolute;
}

.navbar-brand img {
	height: 65px;
	width: 75px;
	margin-top: 9px;
}

.navbar-nav>li>a {
	padding: 31px 15px;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.3px;
	line-height: 20px;
	font-weight: 300;
	transition: 0.3s;
}

.navbar-nav>li.active>a {
	padding-bottom: 28px;
	border-bottom: 3px solid #8F6AA0;
}

.navbar-nav>li>a:hover {
	color: #8F6AA0;
}

.navbar-nav .dropdown-menu,
.dropdown-menu>.active>a {
	background-color: #8F6AA0;
	border-color: white;
}

.dropdown-menu li {
	text-align: center;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	border-color: #8F6AA0;
}

.navbar-nav .dropdown-menu li:hover,
.navbar-nav .dropdown-menu a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background-color: #56276B;
	color: white;
}

.navbar-nav .dropdown-menu a {
	color: white;
	font-size: 15px;
	letter-spacing: 0.3px;
	line-height: 30px;
	font-weight: 300;
	transition: 0s;
}

.search-div {
	position: absolute;
	right: 5%;
	transition: 1s;
}

.menu-container {
	display: flex;
	justify-content: center;
}

.search-div .glyphicon-search {
	padding: 32px 0 32px 180px;
	color: #fff;
	font-weight: lighter;
	font-size: 16px;
	cursor: pointer;
}

.search-div .search-area {
	width: 0;
	padding: 0;
	margin: 24px 5px;
	background: transparent;
	border: none;
	border-bottom: 1.5px solid rgb(255, 255, 255, 0.4);
	box-shadow: none;
	border-radius: 0;
	transition: 1s;
	transition-timing-function: ease-in-out;
	color: white;
	position: absolute;
	right: 0;
	margin-right: 20px;
}

header .navbar-collapse.collapse {
	display: flex !important;
	padding: 0px 5%;
}

header .toggle-button,
header .close-button {
	display: none;
}

ul.wpm-language-switcher.switcher-list {
	padding-top: 28px;
	padding-left: 30px;
}

ul.wpm-language-switcher.switcher-list li {
	position: relative;
	z-index: 999;
}

ul.wpm-language-switcher.switcher-list li.active {
	display: none;
}

/* End Header */


/* Swiper Slider*/
.swiper-container {
	width: 100%;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 639px;
	min-height: 300px;
	height: 70vh;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.swiper-slide:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(86, 39, 107, 0.6);
}

.swiper-slide.swiper-slide-prev:after,
.swiper-slide.swiper-slide-next:after {
	background-color: rgba(86, 39, 107, 0.39);
}

.swiper-slide.swiper-slide-active:after {
	background-color: unset;
}

.front-page .swiper-pagination {
	margin-bottom: 0;
	bottom: 0;
}

.front-page .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	background: #3E1251;
	opacity: 1;
	width: 5px;
	height: 5px;
	margin: 0 9px;
}

.front-page .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
	width: 10px;
	height: 10px;
	background-color: #8F6AA0;
}

/* End Swiper Slider*/

/* Section Our Mission */

section.our-mission {
	text-align: center;
}

h1.section-title {
	color: #260335;
	font-size: 32px;
	line-height: 43px;
	margin-bottom: 30px;
	padding: 30px 15px;
	margin-top: 0;

}

h1.section-title.text-center {
	background-image: url(img/title-sign.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
}

section.our-mission .mission-text {
	padding-top: 10px;
}

section.our-mission .mission-text p {
	color: #4F4C4C;
	font-size: 16px;
	line-height: 24px;
}

.read-more,
.nav-previous a,
.nav-next a {
	color: #3E1251;
	font-size: 12px;
	font-style: italic;
	font-weight: 300;
	line-height: 15px;
	text-decoration: underline !important;
	padding: 10px 0;
	display: inline-block;
	transition: 0.3s;
}

.read-more:hover {
	color: #550679;
}

/* End Section Our Mission*/

/* Section For Educators */
.for-educators .swiper-container .swiper-slide:after {
	display: none;
}

.for-educators .swiper-container .swiper-slide {
	box-shadow: none;
	height: 100%;
	min-height: 100%;
	padding: 0 5px 0 15px !important;
}

section.for-educators .thumbnail-img {
	height: 276px;
	width: 100%;
	border-radius: 6px;
	position: relative;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(211, 211, 211, 0.5);
	overflow: hidden;
}

section.for-educators .thumbnail-img:hover:after {
	opacity: 1;
}

section.for-educators .thumbnail-img:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
	opacity: 0;
	z-index: 2;
	background-color: rgba(28, 27, 27, 0.5);
}

section.for-educators .educators-header {
	position: relative;
	padding: 10px;
}

section.for-educators h1.section-title,
.news-events h1.section-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.article-title {
	color: #FFF;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	line-height: 21px;
	display: none;
	padding: 0 28px;
	position: absolute;
	z-index: 3;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.article-title:hover {
	color: #FFF;
}

section.for-educators .thumbnail-img:hover .article-title {
	display: block;
}

.download-icon {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-size: 20px;
	z-index: 3;
}

section.for-educators .educators-header .page-link {
	color: #3E1251;
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
	line-height: 19px;
	text-decoration: underline !important;
	padding: 12px 0;
	transition: 0.3s;
	position: absolute;
	right: 0;
	bottom: 0;
}

section.for-educators .educators-header .page-link:hover {
	color: #550679;
}

/* End Section For Educators */

/* Section News & Events */
.event-box {
	border-radius: 6px;
	box-shadow: 0 2px 8px 0 #D3D3D3;
	position: relative;
	overflow: hidden;
	transition: 0.3s;
}

.event-box:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.event-thumbnail {
	height: 276px;
}

.frot-page .event-thumbnail {

	margin-left: 30px;
}

.event-info {
	color: #4F4C4C;
	display: flex;
}

.event-info h2 {
	margin-top: 0;
}

.event-title {
	font-size: 12px;
	line-height: 16px;
}

.event-date {
	color: #000000;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.event-content {
	font-size: 12px;
	font-weight: 200;
	line-height: 18px;
	padding: 15px;
}

.event-box.full-width .event-content,
.front-page .event-thumbnail {
	width: 50%;
}

.event-box.half-width .event-thumbnail {
	height: 184px;
	width: 100%;
	margin-left: 0;
	border-bottom: 10px solid #56276B;
}

.event-box.half-width .event-title,
.front-page .event-content h2.event-title {
	color: #4F4C4C;
	font-size: 14px;
	line-height: 19px;
	padding: 15px;
	margin: 0;
}

.front-page .event-content h2.event-title {
	padding: 0;
}

.news-section {
	border-left: 1px solid #d4d4d4;
	margin-left: 30px;
	margin-top: 10px;
}

.news-item {
	position: relative;
	display: flex;
	padding: 17px 0;
}

.news-item:last-child {
	padding-bottom: 0;
}

.news-item .news-title {
	font-size: 18px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 5px;
}

.news-content {
	overflow: hidden;
	text-overflow: ellipsis;
}

.circle {
	height: 18px;
	width: 18px;
	background-color: #8F6AA0;
	border-radius: 100%;
	display: inline-block;
	margin-left: -8px;
	margin-top: 34px;
}

.news-date {
	display: inline-block;
	color: #56276B;
	font-size: 35px;
	line-height: 46px;
	text-align: center;
	max-width: 132px;
	padding: 0 30px;
}

.verticale-line {
	width: 1px;
	height: 67px;
	background: #DFDFDF;
	margin-top: 10px;
}

.news-date p {
	margin: 0;
	padding: 0;
}

.news-info {
	display: inline-block;
	width: 80%;
	color: #4F4C4C;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding-left: 30px;
}

.front-page .event-row-bottom {
	display: flex;
	padding: 20px 0;
}

.front-page .event-row-bottom .event-box.half-width {
	height: 100%;
}

/* End Section News & Events */

/* Our Mission Page */

.our-mission-page .our-mission .content {
	padding: 0 20px;
	margin-top: 40px;
	margin-bottom: 70px;
	color: #4F4C4C;
	font-family: Raleway;
}

.our-mission-page .our-mission h1 {
	margin-top: 40px;
}

.our-mission-page .our-mission img {
	height: 7px;
}

.our-mission-page .biography .image-column img {
	max-width: 100%;
}

.our-mission-page .biography .text-center {
	margin-bottom: 71px;
}

.our-mission-page .biography .image-column ul>li {
	margin-bottom: 15px;
	justify-content: center;
}

.our-mission-page .biography .biography-column .text-col {
	color: #4F4C4C;
	font-family: Raleway;
	font-size: 14px;
	line-height: 16px;
}

.our-mission-page .biography .biography-column .bio-event-odd .text-col {
	text-align: right;
}

.our-mission-page .biography .biography-column .bio-event-odd .bio-date {
	text-align: left;
}

.our-mission-page .biography .biography-column .bio-event-even .text-col {
	text-align: left;
}

.our-mission-page .biography .biography-column .bio-event-even .bio-date {
	text-align: right;
}

.our-mission-page .biography .biography-column .bio-date {
	color: #260335;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.our-mission-page .biography .biography-column .bio-event-even,
.our-mission-page .biography .biography-column .bio-event-odd {
	display: flex;
}

.our-mission-page .biography .biography-column .text-col,
.our-mission-page .biography .biography-column .bio-date {
	width: 50%;
	padding: 0 25px;
}

.our-mission-page .biography .biography-column .border-col {
	border-right: 1px solid #d4d4d4;
	position: relative;
}

.our-mission-page .biography .biography-column .border-col::after {
	content: "";
	background-color: #603770;
	position: absolute;
	z-index: 1;
	top: 45%;
	right: -11px;
	border-radius: 12px;
	height: 20px;
	width: 20px;
}


.mission-images .mission-panel-flex {
	display: flex;
}

.mission-images .slider-section,
.mission-images .swiper-container {
	height: 100%;
	padding-bottom: 50px;
}

.mission-images .swiper-pagination {
	margin-bottom: 0;
	bottom: 0;
}

.mission-images .swiper-pagination-bullet {
	background: #90769B;
	opacity: 1;
}

.mission-images .swiper-pagination-bullet-active {
	background: #3E1251;
	width: 11px;
	height: 11px;
}

.mission-images .swiper-slide {
	height: 85vh;
}

.our-mission-page .biography .biography-column .circle {
	margin: 0 -9px;
	z-index: 2;
}

.our-mission-page .biography .biography-column .col-md-6 {
	padding: 0 25px;
	margin-top: 0;
	margin-bottom: 0;
}

.our-mission-page .mission-images .mission-text {
	padding: 70px 40px 78px 150px;
	background-color: #90769B;
	width: 35.6%;
	color: white;
	font-size: 14px;
	line-height: 19px;
}

.mission-images {
	margin-top: 100px;
}

section.biography {
	margin-top: 40px;
}

.our-mission-content {
	color: #4F4C4C;
	margin-top: 20px;
	font-family: Raleway;
	line-height: 24px;
}

/* End Our Mission Page */


/* Contact Us Page*/
#contact-us-page .footerIcons li a {
	color: #56276B;
	padding-left: 5px;
}

#contact-us-page .footerIcons {
	padding-left: 15px;
}

.contact-form-section {
	text-align: center;
}

.contact-form {
	padding-top: 22px;
}

.contact-form label {
	display: none;
}

.contact-form input {
	border: transparent;
	border-bottom: 2px solid #D1D1D1;
	padding: 15px 0;
	margin-top: 13px;
	width: 100%;
}

.contact-form input::placeholder {
	color: #4F4C4C;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 200;
	line-height: 19px;
}

.contact-form .frm_submit {
	padding-top: 48px;
}

.contact-form button {
	border: 1px solid #6F4182;
	border-radius: 6px;
	background-color: #6F4182;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.55);
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 19px;
	padding: 14px 0;
	min-width: 176px;
}

.contact-form button:hover,
.contact-form button:focus {
	background-color: #431d52;
}

.contact-form .frm_error_style,
.frm_error,
.frm_message p {
	font-size: 14px;
	color: #3E1251;
}

.address-section {
	padding: 28px 0;
	background-color: #F8F8F8;
	margin-bottom: 11px;
}

.address-section .email-and-location {
	clear: both;
	display: inline;
}

.address-section .email-and-location i.material-icons {
	color: #56276B
}

.address-section .email-and-location span {
	color: #7F7D7D;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
}

.address-section .email-and-location li {
	float: left;
	padding: 0;
}

.address-section .email-and-location li.address {
	width: 60%;
}

.address-section .email-and-location li.email {
	width: 40%;
}

#google-map {
	height: 334px;
	width: 100%;
}

/* End Contact Us Page*/

/* Form Page */
.featured-image-section {
	height: 50vh;
	position: relative;
}

.title-container {
	margin: 40px 0 60px 0;
}

.default-page .content p {
	font-family: Raleway;
	font-size: 16px;
	line-height: 24px;
}

.featured-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(86, 39, 107, 0.39);
	z-index: 3;
	bottom: 0;
	right: 0;
}

.form-page .subtitle {
	font-size: 16px;
	line-height: 19px;
	color: #6F4182;
	margin: 41px 0 12px 0;
}

.form-page .form-border {
	border-radius: 6px 0 0 6px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
	padding: 50px 20px 50px 100px;
}

.form-page .form-shortcode {
	float: left;
	width: 70%;
}

.form-page .form-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	height: 100%;
	width: 70%;
	float: right;
}

.form-page h3 {
	font-size: 24px;
	line-height: 32px;
	color: #260335;
}

.form-page .row {
	margin: 0;
	display: flex;
}

/* Form Page */

/* Single Event Page */

.single-event .featured-image-section {
	margin-bottom: 50px;
}

.single-event .event-date {
	color: #8F6AA0;
	font-size: 21px;
	line-height: 28px;
}

.single-event .content img {
	border-radius: 6px 6px 0 0;
	width: 100%;
}

.single-event figcaption {
	color: #FFFFFF;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	background-color: #3E1251;
	border-radius: 0 0 6px 6px;
	margin: 0;
	padding: 15px;
}

.single-event .wp-block-columns {
	display: block;
	clear: both;
	color: #4F4C4C;
	font-size: 16px;
	line-height: 21px;
	text-align: justify;
}

.single-event .wp-block-columns .wp-block-column:first-of-type {
	width: 70%;
	float: left;
	margin: 0;
}

.single-event .wp-block-columns .wp-block-column:last-of-type {
	width: 30%;
	float: right;
	margin: 0;
	padding-left: 50px;
}

.single-event .event-thumbnail,
.news-page .event-thumbnail {
	width: 100%;
	margin: 0;
	border-radius: 6px 6px 0 0;
}

.single-event .news-box,
.news-page .news-box {
	position: relative;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #DFDFDF;
}

.single-event .news-box h2.event-title,
.news-page .news-box h2.event-title {
	margin-top: 0;
}

.single-event a.read-more.fr,
.news-page a.read-more.fr {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 30px;
}

.single-event .event-content {
	padding-bottom: 30px;
}

.single-event .news-date,
.event-content.courses {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.news-box-content {
	display: flex;
	height: 100%;
	transition-duration: .5s;
	position: relative;

}

.event-thumbnail+.news-box-content {
	height: calc(100% - 276px);
}

.single-event .event-page-link a,
.news-page .event-page-link a {
	color: #56276B;
}

.single-event .event-page-link,
.news-page .event-page-link {
	text-align: center;
	;
	margin-top: 50px;
	font-size: 24px;
	font-style: italic;
	line-height: 29px;
	text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	font-weight: 300;
}

.news-date {
	border-right: 1px solid #DFDFDF;
}

.single-event h1.section-title.text-center {
	background: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.single-event .event-date {
	background-image: url(img/title-sign.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 50px;
}

/* End Single Event Page */

/* News And Events Page */
.news-page .big-post,
.news-page .small-post {
	margin-bottom: 15px;
}

.event-content {
	font-weight: 400;
}

.news-page .news-date {
	font-size: 30px;
	white-space: nowrap;
	line-height: 39px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.news-date p:first-child {
	font-size: 23px;
	line-height: 30px;
}

.news-date p:last-child {
	font-weight: 300;
}

.news-date {
	font-family: "Roboto Slab";
}

/* End News And Events Page */

/* Courses Page */
.news-date.courses {
	padding: 15px;
}

.event-content.courses h2.event-title {
	margin: 0;
	font-size: 25px;
	color: #4F4C4C;
	line-height: 26px;
}

/* End Courses Page */


/* Footer */

footer ul li,
.search-list-item {
	list-style-type: none;
}

.footer-top {
	background-color: #56276B;
	padding: 39px 0 36px;
}

.footer-menu li a {
	color: #DBD6D6;
	font-size: 14px;
	letter-spacing: 0.26px;
	line-height: 19px;
	padding: 5px 0;
	display: inline-block;
	transition: 0.3s;
}

.footer-menu li a:hover {
	color: #8F6AA0;
}

.footer-menu li.active a {
	color: #8F6AA0;
}

.email-and-location li {
	display: flex;
	padding: 5px 0;
}

.email-and-location span {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 100;
	line-height: 21px;
}

.email-and-location .material-icons {
	font-family: "Material Icons";
	color: #fff;
	vertical-align: middle;
	padding-right: 15px;
}

.email-and-location .address .material-icons {
	font-size: 24px;
}

.email-and-location .email .material-icons {
	font-size: 18px;
	padding-left: 5px;
}

.subscribe-form-title {
	color: #F2F0F0;
	font-size: 14px;
	line-height: 19px;
	padding: 5px 0 9px;
	display: inline-block;
}

.subscribe-form label {
	display: none;
}

.subscribe-form input {
	background: transparent;
	border: 1px solid #8F6AA0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 30px;
	padding: 8px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 100;
}

.subscribe-form .frm_submit button {
	background-color: #8F6AA0;
	border: 0;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	padding: 8px 22px;
	height: 30px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.subscribe-form .frm_error_style,
.subscribe-form .frm_error,
.subscribe-form .frm_message p {
	color: #fff;
	font-size: 12px;
	padding: 3px 0;
}

.subscribe-form .frm_form_field.form-field {
	float: left;
}

.footerIcons {
	padding-left: 0;
}

.footerIcons li {
	display: inline-block;
	padding-right: 8px;
	padding-top: 21px;
}

.footerIcons li a {
	color: #F2F0F0;
	display: inline-block;
	transition: 0.3s;
}

.footerIcons li a:hover {
	color: #8F6AA0;
}

.footerIcons li a .fa-envelope {
	font-family: "FontAwesome";
	font-style: normal;
}

.footer-bottom {
	background-color: #000000;
	padding: 29px 0 34px;
}

.footer-bottom .footer-text {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	margin-bottom: 0;
}

.footer-bottom .footer-text a {
	color: #FFFFFF;
}

.footer-half-container {
	display: flex;
}

.footer-half {
	width: 50%;
}

/* End Footer */

/* Search Page */
.search-list p {
	color: #4F4C4C;
	font-family: Raleway;
	margin: 20px 50px;
}

.search-list-item a {
	color: #6B457A;
}

.search-list-item a:hover {
	color: #260335;
}

.search-header .search-div {
	border-bottom: 3px solid #8F6AA0;
}

.search-submit-btn {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: transparent;
	border: none;
	display: none;
	padding: 20px;
	height: 70px;
}

/* End Search Page */

/* LearnDash Courses, Lessons & Quizzes */

#learndash_lessons a,
#learndash_quizzes a,
.expand_collapse a,
.learndash_topic_dots a,
.learndash_topic_dots a>span,
#learndash_lesson_topics_list span a,
.list-count,
#learndash_next_prev_link>a {
	font-family: Roboto Slab;
	font-size: 15px;
	color: #56276B;
	font-weight: 400;
}

#learndash_lessons #lesson_heading,
#learndash_profile .learndash_profile_heading,
#learndash_quizzes #quiz_heading,
#learndash_lesson_topics_list div>strong {
	color: #260335;
	font-size: 16px;
}

#learndash_course_content_title {
	margin-bottom: 15px;
}

#learndash_mark_complete_button {
	color: white;
	padding: 15px;
	border: 1px solid #6F4182;
	font-family: Raleway;
	font-size: 16px;
	line-height: 19px;
	background-color: #6F4182;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.55);
	border-radius: 6px;
}

/* End LearnDash Courses, Lessons & Quizzes */

/*Formidable Styles*/

.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=file],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select,
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=text],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=password],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=url],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=tel],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=number],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=email],
.frm_style_formidable-style.with_frm_style .frm_blank_field textarea,
.frm_style_formidable-style.with_frm_style .frm_blank_field .mce-edit-area iframe,
.frm_style_formidable-style.with_frm_style .frm_blank_field select,
.frm_form_fields_error_style,
.frm_style_formidable-style.with_frm_style .frm_blank_field .frm-g-recaptcha iframe,
.frm_style_formidable-style.with_frm_style .frm_blank_field .g-recaptcha iframe,
.frm_style_formidable-style.with_frm_style .frm_blank_field .chosen-container-multi .chosen-choices,
.frm_style_formidable-style.with_frm_style .frm_form_field :invalid {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-radius: 0 !important;
	background: transparent !important;
}

/*Formidable Styles*/

/* Large desktops and laptops */
@media (max-width: 1230px) {

	.search-div,
	.navbar-brand {
		padding: 0 10px;
	}

	header .navbar-collapse.collapse {
		padding: 0 15px;
		min-height: 80px;
		overflow: hidden;
	}

}

@media (min-width: 1230px) {
	.container {
		width: 1200px;
	}
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {
	.our-mission-page .mission-images .mission-text {
		padding-left: 50px;
		width: 100%;
	}

	.mission-images>h1 {
		margin-left: 50px;
		padding: 0;
	}

	.our-mission-page .mission-images .mission-slideshow {
		width: 100%;
		margin: 20px 0;
	}

	.mission-images .mission-panel-flex {
		flex-direction: column-reverse;
	}

	.mission-images .swiper-slide {
		height: 50vh;
		width: 400px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.menu-container {
		padding: 0 120px;
	}

	.swiper-slide {
		height: 40vh;
	}

	#contact-us-page .footerIcons li:first-of-type a {
		padding-left: 50px;
	}
}

@media (min-width: 992px) {
	#contact-us-page .footerIcons li {
		padding-top: 0;
	}

}

@media (max-width: 991px) {
	.menu-container {
		flex-direction: column;
		;
	}

	.navbar-nav>li.active>a {
		width: 200px;
		margin: 0 auto;
	}

	.single-event .wp-block-columns .wp-block-column:first-of-type {
		width: 70%;
	}

	.wp-block-columns,
	header .toggle-button {
		display: block;
	}

	.wp-block-columns .wp-block-column {
		width: 100%;
		margin: 0;
		padding: 20px;
	}

	.fa-times-thin:before {
		content: '\00d7';
	}

	header .navbar-collapse.collapse .nav {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 60px;
		text-align: center;
	}

	header .navbar-collapse.collapse .nav li {
		display: none;
	}

	header .toggle-button,
	header .close-button {
		padding: 30px 20px 30px 0;
		color: white;
		height: 70px;
		position: absolute;
		right: 0;
	}

	.navbar-nav>li>a {
		font-size: 14px;
		font-weight: bold;
		padding: 15px;
	}

	header .search-div .glyphicon-search {
		padding-right: 20px;
		padding-left: 150px;
	}

	ul.wpm-language-switcher.switcher-list {
		display: none;
		padding: 0;
		position: absolute;
		top: 35px;
		right: 60px;
	}

	.form-page .form-border {
		box-shadow: none;
	}

	.form-page .row {
		flex-direction: column;
	}

	.form-page .form-text {
		width: 100%;
	}

	.form-page .form-border {
		padding: 15px 30px;
	}

	.courses-row {
		padding: 10px;
	}

	.courses-row>.col-md-3.col-xs-6 {
		padding: 5px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.form-page .row {
		padding: 0 50px;
	}
}

@media (min-width: 768px) {
	.swiper-container {
		padding-bottom: 50px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.verticale-line {
		display: none;
	}

	.single-event h1.section-title {
		font-size: 20px;
		line-height: 30px;
	}

	.navbar-right {
		margin-right: 0;
	}

	.our-mission-page .mission-images .mission-text {
		margin-bottom: 20px;
	}

	.form-page .form-shortcode,
	.our-mission-page .mission-images .mission-text,
	.our-mission-page .mission-images .mission-slideshow,
	.single-event .wp-block-columns .wp-block-column:first-of-type,
	.single-event .wp-block-columns .wp-block-column:last-of-type {
		width: 100%;
	}

	.single-event .wp-block-columns .wp-block-column:last-of-type {
		float: none;
		display: flex;
	}

	.single-event .wp-block-columns .wp-block-image {
		margin: 5px;
	}

	.news-row {
		display: block;
	}

	.single-event .news-box {
		margin: 10px;
	}

	.swiper-slide {
		height: 50vh;
	}

	.our-mission-page .mission-slideshow .swiper-slide {
		height: 45vh;
	}

	.mission-images .slider-section,
	.mission-images .swiper-container {
		padding: 0;
	}

	.front-page .event-row-bottom {
		display: block;
		padding: 20px 0;
	}

	.front-page .event-row-bottom>div {
		margin: 20px 0;
	}

	.footer-top {
		text-align: center;
	}

	.footer-top .subscribe-form .frm_form_field.form-field {
		float: none;
		padding-bottom: 10px;
	}

	.event-content.courses {
		padding-bottom: 30px;
	}

	.learndash .list-count {
		width: 10% !important;
	}

	.swiper-wrapper {
		padding-bottom: 40px;
	}

	.news-item {
		flex-direction: column;
		box-shadow: 0 2px 8px 0 rgba(211, 211, 211, 0.5);
		border-radius: 6px;
		padding: 15px;
		margin-bottom: 20px;
	}

	.news-section,
	.our-mission-page .biography .biography-column .border-col {
		border: none;
	}

	.circle,
	.our-mission-page .biography .biography-column .border-col::after,
	.bio-date br {
		display: none;
	}

	.bio-date p:after {
		content: "";
		position: relative;
		width: 1px;
		height: 100%;
		background-color: gray;
	}

	.bio-date:before {
		content: "";
		position: absolute;
		top: 50%;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		background-color: #603770;
		left: -5px;
	}

	.news-info {
		width: 100%;
	}

	.front-page .news-date {
		flex-wrap: wrap;
		align-self: center;
		flex-direction: row;
		padding: 10px 20px;
		margin-bottom: 20px;
		display: flex;
	}

	.front-page .news-date p:first-child,
	.front-page .news-date p:last-child {
		line-height: 26px;
		margin-right: 10px;
		font-size: 20px;
		position: relative;
	}

	.front-page .news-date:after {
		content: "";
		position: absolute;
		height: 1px;
		background-color: #D8D8D8;
		left: 50px;
		right: 50px;
		top: 65px;

	}

	.front-page .news-date p:first-child:before,
	.front-page .news-date p:last-child:after {
		content: "";
		position: absolute;
		background-color: #8F6AA0;
		top: 50%;
		width: 5px;
		height: 5px;
		border-radius: 5px;
	}

	.front-page .news-date p:first-child:before {
		right: 35px;
	}

	.front-page .news-date p:last-child:after {
		left: 47px;
	}

	.our-mission-page .biography .image-column ul>li {
		height: 45vh;
		overflow: hidden;
	}

	.our-mission-page .biography .biography-column .bio-event-odd {
		flex-direction: column-reverse;
	}

	.our-mission-page .biography .biography-column .bio-event-even {
		flex-direction: column;
	}

	.our-mission-page .biography .biography-column .bio-event-odd .text-col {
		text-align: left;
	}

	.our-mission-page .biography .biography-column .bio-event-even .bio-date,
	.our-mission-page .biography .biography-column .bio-event-odd .bio-date {
		text-align: left;
		width: 100%;
		font-size: 14px;
		font-weight: bold;
		line-height: 19px;
		position: relative;
	}

	.biography-column {
		border-left: 1px solid #B3AEAE;
	}

	.biography-column .bio-date {
		flex-direction: row !important;
		justify-content: start !important;
	}

	.bio-date span {
		margin: 0 10px;
		position: relative;
	}

	.bio-date span:not(:last-of-type):after {
		content: "";
		position: absolute;
		height: 20px;
		width: 1px;
		background-color: #8F6AA0;
		margin-left: 10px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 544px) {

	.footer-half-container {
		flex-direction: column;
	}

	.footer-half {
		width: 100%;
	}

	.footer-top .email-and-location {
		display: none;
	}

	.subscribe-form input {
		width: 90%;
	}

	.footer-top .subscribe-form {
		padding-top: 20px;
	}

	.footer-text {
		text-align: center;
		padding: 5px;
	}

	.our-mission-page .biography .biography-column .text-col,
	.our-mission-page .biography .biography-column .bio-date.our-mission-page .biography .biography-column .text-col,
	.our-mission-page .biography .biography-column .bio-date {
		width: auto;
		margin: 10px auto;
	}

	.mission-images .swiper-slide {
		min-height: 200px;
		height: 35vh;
	}

	.single-event .wp-block-columns .wp-block-column:last-of-type,
	.article-title {
		display: block;
	}

	header .search-div .search-area {
		margin-right: 40px;
	}

	.address-section .email-and-location li {
		float: none;
	}

	.news-section {
		margin-left: 0;
	}

	.news-info {
		padding-left: 10px;
	}

	.event-info {
		flex-direction: column-reverse;
	}

	.event-box.full-width .event-content,
	.front-page .event-thumbnail {
		width: 100%;
	}

	section.for-educators .educators-header .page-link {
		position: relative;
	}

	section.for-educators .thumbnail-img:after {
		opacity: 1;
	}
}

@media (max-width: 480px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}